.button-onboard {
  background-color: white;
  color: $landing-primary;
  font-size: .5em;
  margin-top: 15px;
  transition: all .5s ease-in-out;

  @include respond-to(small-screens) {
    margin-top: 40px;
  }

  @include respond-to(handhelds) {
    margin-top: 25px;
  }

  &:hover {
    color: white;
    background-color: $green-dark;
  }
}
