.search-result-container {
  font-size: 1.8em;
  // margin-top: 20px;
  width: 100%;
}

.search-result {
  position: relative;
	margin-bottom: 10px;
  min-height: 127px;
}

.term, .translation {
  font-size: 1em;
  font-weight: 700;
}


.translation{
  margin-top: 20px;
  color: $app-primary;
}

.error-wrapper {
  color: $grey-super-dark;
  font-family: $font-secondary;
  font-size: .7em;
  line-height: 1.75;
  text-align: center;

}

.error {
  text-align: left;
  display: inline-block;
}

.not-found {
  font-weight: 400;
  color: $black-faded;
}
