.button-add-term {
	background-color: $app-primary;
	// background-color: $green-light;
	// border: 1px solid $grey-medium;
	color: $white;
	position: absolute;
	top: calc(100% + 10px);
	left: 100%;
	transform: translate(-100%, 0);

	.icon-plus {
		position: relative;
		top: 1%;
	}
}
