.button-remove-term {
	cursor: pointer;
	color: $black-faded;
	font-size: 1em;
	opacity: .4;
	position: absolute;
	top: calc(50% - 7px);
	left: 100%;
	transition: font-size .2s;

	@include transform(translate(-100%, -50%));

	&:hover {
		opacity: 1;
		font-size: 1.3em;
}
}
