.button-convert {
	color: $white;
	background-color: $app-primary;
	background-color: $green;
	position: absolute;
	top: calc(100% + 10px);
	left: 100%;
	transform: translate(-100%, 0);

	&:disabled {
		cursor: not-allowed;
		opacity: .3;
	}
}
