.button-remove-term {
	cursor: pointer;
	color: $black-faded;
	font-size: 1.1em;
	opacity: .4;
	position: absolute;
	top: calc(50% - 7px);
	left: 100%;
	transform: translate(-100%, -50%);
	transition: font-size .2s;

	&:hover {
		opacity: 1;
		font-size: 1.3em;
	}
}
