.hero-container {
  background: linear-gradient($app-primary 15%, #06a94c 100%);
}

.hero {
  color: white;
  font-size: 2.6em;
  padding-top: 130px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  @include respond-to(medium-screens) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include respond-to(small-screens) {
    padding-top: 50px;
  }
}

.hero-content-wrapper {
  // border: 1px solid #000;
  padding-top: 110px;
  position: relative;
  left: 3%;
  height: 500px;
  display: inline-block;
}

.hero-col {
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
}

.hero-text-col {
  @include respond-to(medium-screens) {
    width: 50%;
  };

  @include respond-to(small-screens) {
    width: 100%;
  };
  // @include respond-to(medium-screens) {
  //   width: 50%;
  // }
  //
  // @include respond-to(small-screens) {
  //   width: 100%;
  // }
}


.hero-heading-wrapper {
  // border: 1px solid black;
  max-width: 365px;
  padding-top: 35px;
  // text-align: left;
  @include respond-to(small-screens) {
    max-width: 750px;
    margin: 0 auto;
  }
}

.hero-heading {
  margin: 0;
  font-size: 1em;
}

.hero-sub-heading{
  font-size: .5em;
}

.hero-laptop-col {
  position: relative;
  height: 420px;

  @include respond-to(medium-screens) {
    width: 50%;
  };

  @include respond-to(small-screens) {
    width: 100%;
  };
}

.hero-laptop {
  position: absolute;
  width: 105%;
  left: -2%;

  @include respond-to(medium-screens) {
    top: 6%;
    left: -8%;
    width: 120%;
  };

  @include respond-to(small-screens) {
    margin-top: 0;
    padding-top: 50px;
    position: static;
    width: 100%;
  }

  @include respond-to(smartphones) {
    @include hide();
  }

  // @include respond-to(medium-screens) {
  //   width: 125%;
  // }
}
