.hero-container {
  background: linear-gradient($hero-gradient-start 15%, $hero-gradient-finish 100%);
  padding: 0 40px;
  padding-bottom: 60px;

  @include respond-to(small-screens) {
    padding: 0;
  }
}

.hero {
  color: white;
  font-size: 2.6em;
  height: 580px;
  padding-top: 130px;
  position: relative;
  text-align: center;

  @include respond-to(medium-screens) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include respond-to(small-screens) {
    height: 100%;
    padding-top: 75px;
    padding-bottom: 5vw;
  }
}

.hero-content-wrapper {
  // border: 1px solid #000;
  padding-top: 110px;
  position: relative;
  left: 3%;
  height: 500px;
  display: inline-block;
}

// .hero-col {
//   display: inline-block;
//   vertical-align: top;
//   font-size: 1em;
// }

.hero-text-col {
}

.hero-heading-wrapper {
  // border: 1px solid black;
  max-width: 365px;
  padding-top: 25px;
  padding-left: 10px;
  // text-align: left;

  @include respond-to(medium-screens) {
    font-size: .9em;
  };

  @include respond-to(small-screens) {
    max-width: 750px;
    margin: 0 auto;
  }
}

.hero-heading {
  margin: 0;
  font-size: 1em;
}

.hero-sub-heading{
  font-size: .5em;
  line-height: 1.3;
}

.hero-laptop-col {
  position: relative;
  height: 100%;

  @include respond-to(smartphones) {
    height: 0;
    width: 100%;
  };
}

.hero-laptop {
  position: absolute;
  min-width: 660px;
  width: 120%;
  left: -10%;

  @include respond-to(medium-screens) {
    top: 28px;
    left: -17%;
    max-width: 750px;
    // width: 150%;
  };

  @include respond-to(small-screens) {
    margin-top: 0;
    min-width: 100%;
    padding-top: 50px;
    position: static;
    width: 100%;
  }

  @include respond-to(smartphones) {
    @include hide();
  }

  // @include respond-to(medium-screens) {
  //   width: 125%;
  // }
}
