.hero-container {
  background: linear-gradient($app-primary 15%, #06a94c 100%);
}

.hero {
  color: white;
  font-size: 2.6em;
  padding-top: 130px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  @include respond-to(small-screens) {
    padding-top: 50px;
  }
}

.hero-content-wrapper {
  // border: 1px solid #000;
  padding-top: 110px;
  position: relative;
  left: 3%;
  height: 500px;
  display: inline-block;
}

.hero-col {
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
}

.hero-text-col {
  // padding-left: 12%;
}

.hero-image-col {
  // border: 1px solid black;
  width: 800px;
}

.hero-heading-wrapper {
  // border: 1px solid black;
  max-width: 365px;
  padding-top: 35px;
  // text-align: left;
  @include respond-to(small-screens) {
    max-width: 750px;
    margin: 0 auto;
  }
}

.hero-heading {
  margin: 0;
  font-size: 1em;
}

.hero-sub-heading{
  font-size: .5em;
}

.hero-laptop-image {
  // border: 1px solid #000;
  width: 800px;
  position: relative;
  right: 15%;

  @include respond-to(handhelds) {
    @include hide();
  }

  @include respond-to(small-screens) {
    padding-top: 50px;
    position: static;
    width: 100%;
  }

  @include respond-to(medium-screens) {
    width: 125%;
  }
}
