.logo {
  &.landing-logo {
    color: black;
    font-size: .6em;
    left: 30px;
    position: absolute;
    top: 20px;

    @include respond-to(small-screens) {
      left: inherit;
      font-size: .55em;
    }

    @include respond-to(wide-screens) {
      left: 5px;
    }
  }

  &.app-logo {
    // border: 1px solid #000;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;

    @include respond-to(handhelds) {
       margin-bottom: 10px;
    }
  }

  &.search-logo {
    font-size: 60px;
    margin: 0 auto;
  }
}

.logo-image {
  display: inline-block;
  // display: none;
  left: -18px;
  position: absolute;
  top: -2px;
  width: 0.5em;;
}

.logo-text {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  left: 0;
}
