.logo {
  &.landing-logo {
    color: black;
    font-size: .6em;
    left: 20px;
    position: absolute;
    top: 20px;

    @include respond-to(small-screens) {
      font-size: .55em;
    }

    @include respond-to(wide-screens) {
      left: 5px;
    }
  }

  &.app-logo {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    @include respond-to(small-screens) {
      left: -10px;
    }
  }

  &.search-logo {
    font-size: 60px;
    margin: 0 auto;
  }
}

.logo-image {
  display: inline-block;
  display: none;
  width: 1.7em;
}

.logo-text {
  display: inline-block;
  font-size: 1em;
  left: 0;
}
