.search-result-container {
  border: 1px solid white;
  font-size: 25px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.search-result {
	margin-bottom: 10px;
}

.term, .translation{
	vertical-align: bottom;
	height: 40px;
	width: 150px;
}
