.search-result-container {
  font-size: 1.8em;
  margin-top: 20px;
  width: 100%;
}

.search-result {
  position: relative;
	margin-bottom: 10px;
}

.term, .translation {
  font-size: 1em;
  font-weight: 700;
}


.translation{
  margin-top: 20px;
  color: $app-primary;
}
