.search-bar-container {
	position: relative;
	margin-top: 5px;
}

.search-bar-icon {
	height: 50px;
	display: inline-block;
}

.search-bar-input {
	color: $black-faded;
	display: inline-block;
	font-size: 25px;
	height: 50px;
	padding: 10px;
	vertical-align: top;
	width: 92%;
}

.search-bar-error {
	margin-top: 10px;
	font-size: 17px;
}
