.search-bar-container {
	position: relative;
	margin-top: 5px;
}

.search-bar-icon {
	height: 50px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin-left: 5px;
}

.search-bar-input {
	color: $black-faded;
	font-size: 25px;
	height: 50px;
	margin-top: 10px;
	padding: 10px;
	width: 75%;
}

.search-bar-error {
	margin-top: 10px;
	font-size: 17px;
}
