.text-list-container {
	margin-top: 80px;
	width: 100%;
}

.text-list {
	font-family: monospace;
	font-size: 1em;
	width: 100%;
}

.instructions {
	font-size: 17px;
	line-height: 1.75;
	margin-top: 90px;
	margin-bottom: 15px;
}
