.vocab-list-container {
	position: relative;
}

.vocab-list {
	position: relative;
	padding: 20px;
	margin-top: 5px;
	min-height: 200px;

}

.vocab-list-item  {
	border-bottom: 1px solid #ededed;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;

	.term, .translation {
		font-size: 1.2em;
		font-weight: 600;
	  display: inline-block;
	}
	.term {
		width: 200px;
		// margin-left: 20px;
	}

	.translation {
		margin: 0;
	}
}
