.vocab-list-container {
	position: relative;
}

.vocab-list{
	position: relative;
	border: 1px solid white;
	padding: 10px;
	margin-top: 5px;
	background-color: #666666;
	min-height: 200px;
}

.vocab-list-item  {
	margin-top: 10px;
	border: none;
}
