* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

button {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 500;
  padding: 1em 2em;
  z-index: 1;

  &:focus {
    outline: 0;
  }
}

form {
  display: inline-block;
}

h1 {
 font-size: 2em;
 font-weight: bold;
}

h3 {
  font-size: 1.8em;
  margin: 15px 0;
  font-weight: 600;
}

label {
	display: block;
	font-size: 1.8em;
  font-weight: 500;
}

main {
  padding: 100px 40px;

  @include respond-to(small-screens) {
    padding: 25px 0;
  }
}

p {
  line-height: 1.75;
}

section {
  font-size: 1.7em;
  text-align: center;
}

@include placeholder() {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 300;
  vertical-align: top;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}
