* { box-sizing: border-box };

html,
body,
#root {
  height: 100%;
  font-size: 17px;
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

section {
  // border: 1px solid #000;
  padding-top: 50px;
  min-height: 80vh;
  text-align: center;
};
