* { box-sizing: border-box };

html,
body,
#root {
  height: 100%;
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

section {
  padding: 50px;
  min-height: 80vh;
  text-align: center;
};
