* {
  box-sizing: border-box;
}

// html,
// body {
//   height: 100%;
// }

body {
  font-family: $font-main;
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

h1 {
 font-size: 2em;
 font-weight: bold;
}

main {
  padding: 100px;
}

section {
  text-align: center;
  font-size: 1.7em;

  img {
    width: 100%;
  }
}
