.header {
  background-color: transparent;
  // border-bottom: red;
  height: 75px;
  padding: 15px;
  position: fixed;
  top: 0;
  transition: background-color .5s ease;
  width: 100%;
  z-index: 9998;

  &.header-white {
    background-color: rgba(255, 255, 255, .96);
    border-bottom: 1px solid $grey-light;
    box-shadow: 0 0 50px -10px rgba(0, 31, 48, .2);
  }

  .header-logo {
    background: url('../images/logo-orange-cropped.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100px;
    margin-top: 5px;
    width: 300px;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
