.app-container {
  max-width: 768px;
  margin: 0 auto;
}

.grey-background {
  background-color: $grey-light;
}

.hide {
  @include hide();
}

.landing-container {
  margin: 0 auto;
  max-width: 1140px;
}

.module {
  margin: 40px 0;
}

.well {
  background-color: $white;
  border: 1px solid $grey-dark;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}
