.app-container {
  margin-left: 15%;
  margin-right: 15%;
}


.grey-background {
  background-color: $grey-light;
}

.hide {
  @include hide();
}

.landing-container {
  margin: 0 auto;
  max-width: 1140px;
}

.module {
  margin: 40px 0;
}

.well {
  background-color: #fff;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
}
