.hero-container {
  background: linear-gradient(#2dcc70 15%, #06a94c 100%);
}

.hero {
  color: white;
  font-size: 2.6em;
  // height: 65vh;
  // margin-bottom: 30vh;
  // min-height: 460px;
  padding-top: 87px;
  padding-bottom: 25px;
  position: relative;
  text-align: right;
}

.hero-heading-wrapper {
  border: 1px solid black;
  display: inline-block;
  max-width: 350px;
  padding-top: 60px;
  text-align: left;
}

.hero-heading {
  margin: 0;
  font-size: 1em;
}

.hero-sub-heading{
  font-size: .5em;
}

.hero-laptop-image {
  width: 800px;
  position: relative;
  left: -103px;
  margin-top: 18px;
  // height: 73vw;
  // max-height: 500px;
  // // position: absolute;
  // left: 50%;
  // top: 96%;
  // transform: translate(-50%,-50%);
}
