.hero-container {
  background: linear-gradient(#2dcc70 15%,  #06a94c 100%);
}

.hero {
  color: white;
  font-size: 1.4em;
  // height: 65vh;
  // margin-bottom: 30vh;
  // min-height: 460px;
  padding-top: 87px;
  padding-bottom: 25px;
  position: relative;
  text-align: center;
}

.hero-heading-wrapper {
  max-width: 85%;
  margin: 0 auto;
}

.hero-heading {
  margin: 0;
  font-size: 1em;
}

.hero-sub-heading{
  font-size: .5em;
}

.hero-laptop-image {
  width: 330px;
  margin-top: 18px;
  // height: 73vw;
  // max-height: 500px;
  // // position: absolute;
  // left: 50%;
  // top: 96%;
  // transform: translate(-50%,-50%);
}
