.landing-card {
  font-size: 20px;
  width: 100%;
  height: 350px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 29px;
  margin-top: 20px;
}

.landing-card-title {
  font-family: $font-heading;
  color: $sub-heading-color;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.landing-card-text {
  font-size: 15px;
  color: #6d7784;
  line-height: 1.5;
  text-align: center;
  font-family: $font-paragrpah;
}

.card-icon {
  font-size: 30px;
}

.no-engineer {
  &.icon-wrench {
    font-size: 26px;
    position: relative;
  }
  color: $red;
}

.tutorial {
  color: $teal-light;
}

.price-estimate {
  color: $orange-light;
}
