* {
  box-sizing: border-box;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  height: 40px;
}

.body {
  height: 90vh;
}


.button-onboard {
  background-color: white;
  border-radius: 5px;
  color: $hero-background;
  font-family: $font-main;
  font-weight: 500;
  font-size: .5em;
  margin-top: 15px;
  padding: 1em 2em;
  border: 0;

  @include respond-to(small-screens) {
    margin-top: 40px;
  }

  @include respond-to(handhelds) {
    margin-top: 25px;
  }
}


.hero-col {
  display: inline-block;
  height: 100%;
  font-size: 0;
}

.hero-col1 {
  vertical-align: top;
  width: 50%;
}

.hero-col2 {
  width: 49.4%;
}

.bottom {
  border-bottom: none;
}

.info {
  height: 10vh;
  margin: 2px;
}
