.logo {
    font-size: 0.6em;
    margin-top: 15px;
    position: absolute;
    top: 0px;
    // left: -124px;
}

.logo-image {
  display: inline-block;
  width: 1.7em;
}

.logo-text {
  color: black;
  display: inline-block;
  left: 0;
  font-size: 1em;
}
