.logo {
    font-size: 1em;
    margin-top: 15px;
    position: absolute;
    top: 10px;
    left: 43px;;
}

.logo-image {
  display: inline-block;
  width: 1.7em;
}

.logo-text {
  color: black;
  display: inline-block;
  left: 0;
  font-size: 1em;
}
