.logo {
  font-size: .6em;
  left: 5px;
  position: absolute;
  top: 20px;
}

.logo-image {
  display: inline-block;
  width: 1.7em;
}

.logo-text {
  color: black;
  display: inline-block;
  font-size: 1em;
  left: 0;
}
