/** {
	box-sizing: border-box;
}*/

/*body {
	/*background-color: #444444;*/
/*}*/


/*header {
	background-color: #666666;
	padding: 5px;
}*/

/*header h1 {
	margin-left: -25px;
	font-size: 35px;
}*/


/*.inline {
	display: inline-block;
	width: 100px;
}*/

/*button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    width: 75px;
    font-size: 20px;
}*/

/*Search Module*/




/*Results Module*/

/*.results {
	border: 1px solid white;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	position: relative;
	font-size: 25px;
}

.results div {
	margin-bottom: 10px;
}*/

.term, .trans {
	vertical-align: bottom;
	height: 40px;
	width: 150px;
}

.def {
	font-size: .6em;
}

button[name="addTerm"] {
	position: absolute;
	width: 75px;
	left: 100%;
	padding: 10px 20px;
	margin-left: -85px;
}

/*List Module*/

.list-container {
	position: relative;
}

.list-items{
	position: relative;
	border: 1px solid white;
	padding: 10px;
	margin-top: 5px;
	background-color: #666666;
	min-height: 200px;
}

.list-items> div {
	margin-top: 10px;
	border: none;
}

button[name="removeTerm"] {
	position: absolute;
	width: 75px;
	left: 100%;
	margin-left: -85px;
	background-color: #d9534f;
}

button[name="convert"] {
	position: absolute;
	width: 145px;
	left: 100%;
	margin-left: -155px;
	margin-top: 10px;

}

/*Text Area*/

.text-area-container{
	margin-top: 80px;
	width: 100%;
}

textarea {
	margin-top: 5px;
	font-size: 15px;
	width: 100%;
}

.instructions {
	font-size: 17px;
}


@media only screen and (min-width: 640px) {
	.container {
		margin-left: 15%;
		margin-right: 15%;
	}

	textarea {
		margin-top: 5px;
		font-size: 15px;
	}

	.instructions {
		font-size: 17px;
		width: 421px;
	}
}
