.demo-section {
  //#f5f6f6
  // background-color: $grey-super-light;
  // background-color: #BAEDEB;
}

.design-to-pcb-demo {
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 85px;
  text-align: center;

}

.design-to-pcb-demo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.computer-wrapper {
  position: relative;
  display: inline-block;
  width: 41%;
  margin-right: -3%;
}

.inline-image {
  display: inline-block;
  vertical-align: middle;
}

.computer-image {
  width: 75%;
  text-align: left;
}

.circuit-board-image {
  width: 20%;
}

.dots {
  margin-right: 36px;
}

.less-dots {
  display: none;
}

.arrows {
  display: none;
  width: 45px;
}

.design-tool-screenshot {
  position: absolute;
  top: 8%;
  left: 17.6%;
  height: 62.5%;
  width: 64.5%;
}

@media only screen and (max-width: 1175px) {
  .dots {
    display: none;
  }

  .less-dots {
    display: inline;
    margin-right: 36px;
  }
}

@media only screen and (max-width: 500px) {
  .less-dots {
    width: 145px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  .landing-page-content {
    padding-top: 128px;
  }

  .landing-page-text {
    width: 80%;
  }

  .landing-page-button {
    padding: 15px 0;
    width: 257px;
  }

  .inline-image {
    display: block;
  }

  .dots {
    display: none;
  }

  .less-dots {
    display: none;
  }

  .computer-wrapper {
    width: 100%;
  }

  .computer-image {
    width: 75%;
    margin: 0 auto;
  }

  .arrows {
    display: inline;
  }

  .circuit-board-image {
    margin: 0 auto;
    width: 64%;
  }

  .thumbnail-row {
    width: 100%;
  }

  .row {
    padding-left: 10px;
  }

  .col3 {
    width: 100%;
  }
}
