$font-heading: 'Roboto Condensed', sans-serif;
// $font-paragrpah: 'Open Sans', sans-serif;
$font-paragrpah: 'Roboto', sans-serif;

$grey-super-light: #fafafa;
$grey-light: #f7f8f8;
$grey-medium: #e5e5e5;
$orange-light: #fea727;
$teal-light: #55b6b1;

$sub-heading-color: #424242;
