$font-heading: 'Roboto Condensed', sans-serif;
// $font-paragrpah: 'Open Sans', sans-serif;
$font-paragrpah: 'Roboto', sans-serif;

$green-light: #92ff4a;
$red: #ff7e61;
$red-light: #fc8b64;
$blue-light: #71c9e9;
$blue-dark: #5da8ba;

$grey-super-light: #fafafa;
$grey-light: #f7f8f8;
$grey-medium: #e5e5e5;
$orange-light: #fea727;
$orange-meduim-light: #FF9800;
$orange-meduim: #FB8C00;
$teal-light: #55b6b1;
$teal-medium-light: #49ada4;

$sub-heading-color: #424242;
