@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q2vnez');
  src:  url('fonts/icomoon.eot?q2vnez#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q2vnez') format('truetype'),
    url('fonts/icomoon.woff?q2vnez') format('woff'),
    url('fonts/icomoon.svg?q2vnez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search3:before {
  content: "\e904";
}
.icon-search1:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e900";
}
.icon-search2:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e900";
}
.icon-trash-2:before {
  content: "\e901";
}
